@import './cmps/app.css';

body {
    background-color: lightgray;
}

.alert {
    color:white;
    padding: 10px;
    font-size: 1.4em;
    position: absolute;
    bottom:10px;
    right:10px;
    background-color: grey;
}

.alert-success {
    background-color: rgb(73, 72, 72);
    color:rgb(252, 248, 248);
    border-radius: 5px;
}
.alert-danger {
    background-color: rgb(122, 11, 11);
}

